<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Home page
    <div>Hoa Sen:<img src="/public/images/hoa_sen.jpg"></div>
    <div>Hoa Dại:<img src="/public/images/hoa_dai.jpg"></div>
</body>
</html>