<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-3">            
        <table class="table">
          <thead>
            <tr>
              <th>Họ</th>
              <th>Tên</th>
              <th>Tuổi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cao</td>
              <td>Duyên</td>
              <td>27</td>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>